transformers==4.55.4
torch==2.8.0
scipy==1.10.0
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.0
jupyterlab==4.4.6
notebook==7.4.5
pyspark==3.5.1
sympy==1.14.0
networkx==3.3
rdkit==2023.9.1
biopython==1.83
astropy==6.1.0
pygame==2.6.0
flake8==6.0.0
safety==2.3.5
bandit==1.7.5
jupyter==1.0.0
nbconvert==7.0.0
